body {
   background: burlywood;
   text-align: center;
}			
#metawidget {
    border: 1px solid #cccccc;
    width: 275px;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    display: block;
}
#metawidget button {
    display: block;
    margin: 10px auto 0px;
}

h1 {
 text-align: center;
}